.flex{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    place-content:center;
}

body{
    margin:0;

}

h2{
    background: gray;
    border: 1px solid blueviolet;
    padding: 20px;
    margin: 0;
}