.flex{
    display: flex;
    justify-content: end;
    gap:20px;

}

h1{
    background: blue;
}

h2{
    padding: 20px;
    background: gray;
    font-size: 16px;

}






.Grid{

    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
    .Grid h2{
    display: grid;
   

}
