p , strong , span ,h1 , h2 {
    border: 1px solid red;
    width: 140px;
}

h2{
    padding: 50px;
}

span{
    display: inline-block;
    padding: 100px;
}
strong{
    padding: 600px;
    background: rgb(132, 0, 255);
}
a{
    display: inline;
}